body {
  font-family: sans-serif;
  margin: 20px;
}

h1, h2 {
  color: #333;
}

label {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: rgb(1, 11, 5)
}

input, select, button {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: auto;
}

button:hover {
  background-color: #3e8e41;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

form {
  margin-top: 20px;
  background-color: #f6f6af;
  border: 1px solid #0b0b0b;
  border-radius: 8px;
  display: inline-block;
  padding: 20px;
}